/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    font-weight: 500;
}
.text-center {
    text-align: center !important;
}

// container
.example-card {
    max-width: 1420px;
    margin: 0 auto 40px auto;
}
.mat-expansion-panel-header-title {
    width: 33%;
}
.mat-expansion-panel-header-description {
    flex-grow: 0 !important;
}

table.mat-table {
    width: 100%;
}

.mat-form-field {
    padding-right: 20px;
}